@font-face {
    font-family: "dosis";
    src: url("dosis.ttf");
}

@keyframes blink {
    from {
        transform: scale(0.6) translate(-10%, 20%);
    }
    50% {
        transform: scale(1) translate(-5%, -20%);
    }
    to {
        transform: scale(1.6) translate(10%, -30%);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: black;


    #noise {
        position: absolute;
        height: 100%;
        width: 100%;
        mix-blend-mode: soft-light;
        opacity: 0.5;

        & > div {
            position: absolute;
            height: 100%;
            width: 100%;
            background: url("noise.png");

            &:nth-of-type(1) {
                background-size: 50%;
                mix-blend-mode: overlay;
            }
            &:nth-of-type(2) {
                background-size: 9000%;
                filter: blur(100px) contrast(800) blur(100px) contrast(0.6);
                mix-blend-mode: overlay;
                padding: 200px;
                margin: -200px;
                opacity: 0.5;
    
            }
            &:nth-of-type(3) {
                filter: contrast(400) blur(4px) contrast(400) blur(4px) contrast(200) blur(2px);
                padding: 200px;
                margin: -200px;
                background-size: 20%;
                mix-blend-mode: soft-light;
                opacity: 0.08;
            }
            &:nth-of-type(4) {
                filter: contrast(400) blur(10px) contrast(400) blur(0px);
                padding: 200px;
                margin: -200px;
                background-size: 200%;
                mix-blend-mode: soft-light;
                opacity: 0.10;
            }
            &:nth-of-type(5) {
                background-size: 200%;
                mix-blend-mode: overlay;
                opacity: 0.80;
            }
            &:nth-of-type(6) {
                background-size: 30%;
                filter: contrast(20);
                mix-blend-mode: hard-light;
                opacity: 0.2;
            }
        }
    }
    #light {
        position: absolute;
        height: 100%;
        width: 100%;
        filter: blur(30px) contrast(120) blur(70px) contrast(20) blur(120px);
        animation: appear 10s ease-in-out;

        & > div {
            background: radial-gradient(#56ffe8 50%, #000000, #100288 55%);
            aspect-ratio: 1;
            border-radius: 50%;
            position: absolute;
            animation: blink 10s infinite linear;

            &:nth-of-type(3) {
                width: 40vw;
                max-width: 500px;
                right: 35%;
                bottom: 45%;
                animation-direction: alternate;
            }
            &:nth-of-type(2) {
                width: 30vw;
                max-width: 300px;
                right: 10%;
                bottom: 20%;
                animation-direction: alternate-reverse;
            }
            &:nth-of-type(1) {
                width: 80vw;
                max-width: 800px;
                right: 50%;
                bottom: -25%;
                animation-direction: alternate-reverse;
                animation-duration: 15s;
            }
        }
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: "dosis";
}

#root {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}