@keyframes gradientTextAnimation {
  from { background-position-x: 0 }
  to { background-position-x: 200px }
}

.gradientText {
  color: transparent;
  background: linear-gradient(90deg, hsl(154, 100%, 60%) 0%, hsl(212, 98%, 68%) 12%, hsl(232, 100%, 67%) 47%, hsl(212, 98%, 68%) 82%, hsl(154, 100%, 60%) 100%);
  background-size: 200px;
  background-clip: text;
  font-weight: 900;
  animation: 2s gradientTextAnimation linear infinite;
}

@keyframes gradientBarAnimation {
  from { background-position-x: 0 }
  to { background-position-x: 800px }
}

.gradientBar {
  background: linear-gradient(90deg, hsl(154, 100%, 75%), hsl(212, 98%, 68%), hsl(232, 85%, 57%), hsl(212, 98%, 68%), hsl(154, 100%, 75%), hsl(212, 98%, 68%), hsl(232, 85%, 57%), hsl(212, 98%, 68%), hsl(154, 100%, 75%));
  background-size: 400px;
  animation: 2s gradientBarAnimation linear infinite;
}