@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blur {
  from {
    background: #00000000;
    backdrop-filter: blur(0);
  }
  to {}
}

.details {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.116);
  border: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  cursor: pointer;
  animation: blur 0.3s;
  transition: 0.2s;

  &:active {
    background: #00000000;
    backdrop-filter: blur(0);

    article > * {
      transform: scale(0);
      opacity: 0;
    }
  }

  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(80vh - 3rem);
    max-width: calc(80vw - 3rem);
    width: 800px;
    border: 2px solid rgba(166, 166, 166, 0.199);
    background: #0000008a;
    color: white;
    padding: 1.5rem;
    border-radius: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: auto;

    &> * {
      transform-origin: left center;
      animation: appear 0.3s;
      transition: 0.2s;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 1.5rem;
      background: url("noise.png");
      background-size: 600%;
      mix-blend-mode: soft-light;
      z-index: -1;
      opacity: 0.05;
    }

    section {
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}